body {
	background: url(hd-pics-photos-stunning-attractive-friendship-21-hd-desktop-background-wallpaper.jpg);
	background-size:100%;
	color: white;
}

#jumbo {
  margin-top:300px;
  margin-left:75px;
  background-color: rgba(0,0,0,0.65) !important;
  height:350px;
}